name: Node CI/CD Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3   # or @master for latest
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASS }}
          script: |
            cd ${{ secrets.APP_DIR }}
            git pull origin main
            docker build -t nodeapp .
            docker stop nodeapp || true
            docker rm nodeapp || true
            docker run -d --restart unless-stopped -p 3000:3000 --name nodeapp nodeapp